body{
  position: relative;
}
footer aside a{
  width: 80px;
  height: 80px;
  /*! border-radius: 50%; */
  font-size: 0;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
footer aside .more{
  background-color: #00b5ff;
  background-image: url(../img/plus.svg);
}

footer aside .top{
  
  background-color: black;
  background-image: url(../img/top.svg);
  background-size: 100%;
}
div.title .wrap .slick-prev{
  left: 1200px;
  width: 50px;
  height: 50px;
  background-image: url(../img/prev.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
  top: 700px;
  z-index: 1;
}
div.title .wrap .slick-next{
  right: 550px;
  width: 55px;
  height: 55px;
  background-image: url(../img/next.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
  top: 700px;
}
div.title .wrap ul.slick-dots{
  
  bottom: 100px;
  width: 120px;
  right: 750px;
}
div.title .wrap ul.slick-dots li{
  
  margin: 0;
}
div.title .wrap ul.slick-dots li button{
  
  padding: 0;
}
.transform{
  transform: translate(58%) scale(1.2);
}
.tag{
  box-sizing: border-box;
  display: inline-block;
  min-width: 40px;
  line-height: 18px;
  padding: 0 6px;
  background-color: #97979b;
  border: 1px solid #97979b;
  color: #221e1f;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}
.rate{
  background: #fff;
  border: 1px solid #d53147;
  color: #d53147;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  margin-right: 8px;
}
.cont{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 5px;
}
.bh{
  font-size: 13px;
  font-weight: 400;
  margin-right: 8px;
  color: #959595;
}
.discount{
  font-size: 14px;
  color: #959595;
  text-decoration: line-through;
}
.won{
  font-size: 14px;
  font-weight: 300;
  color: #959595;
}